@charset "UTF-8";
/*Regla para resetear todo el formato al principio. RESET CSS*/
/*hice esta copia de styles porque estuve practicando SCSS y no quería perder los datos*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
  text-align: center;
  /* margin-block-start:center; */
  /* text-decoration: none; */
  color: #40884a; }

.abajo {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 0.8em;
  list-style-type: disc; }
  @media (max-width: 768px) {
    .abajo {
      font-size: 1.2em;
      display: flex;
      flex-direction: column; } }

body {
  background-color: #e5eee8; }

.box:hover {
  background-color: #5f6d63;
  transform: scale(1.1);
  transition: 0.3s; }

.box {
  width: 85%;
  min-width: 180px;
  /* display: block;
    margin-left: auto;
    margin-right: auto; */
  box-shadow: 1em 1em 1em;
  background-color: #e5eee8;
  border-radius: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2em;
  text-align: center; }

.cajaUno {
  width: 19em;
  height: 6.25em;
  padding: 0.6em;
  margin: 0.1em;
  display: inline;
  border: 0.3em dotted #a83838;
  color: blue;
  font-size: 5em;
  text-align: center;
  background-color: darkgoldenrod;
  position: sticky;
  top: 50%;
  left: 40%; }

.cajaDos {
  width: 31em;
  height: 6.25em;
  padding: 0.8em;
  margin: 0.1em;
  display: inline;
  border: 0.3em double #14964e;
  border-radius: 3.1em;
  font-size: 3.1em;
  text-align: center;
  color: #64293f;
  background-color: #506429;
  position: absolute;
  top: 20%;
  left: 10%; }

.cajaTres {
  width: 19em;
  height: 6em;
  padding: 0.1em;
  margin: 0.1em;
  display: inline;
  border: 10px solid black;
  font-size: 1.6em;
  color: #07300c;
  background-color: darkgoldenrod;
  position: relative;
  top: 80%;
  left: 80%; }

.centrarFoto {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1%;
  background-color: #28645a; }

.colorBlue {
  color: #1671c0; }

.cursiva {
  font-family: cursive; }

div {
  background-image: "https://i.pinimg.com/564x/74/05/92/740592f5aaf8f6e1b0b91ee13410009b.jpg";
  width: 100%;
  height: auto; }

.estampas {
  width: 20%;
  display: flex;
  justify-content: center; }

.fotoUS {
  display: flex;
  justify-content: space-around; }

.fotoPortada {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2%;
  border-width: 1px;
  border-color: #12ac48;
  /* align-items: center; */
  border-image: 10%;
  background-color: #28645a;
  box-shadow: 1em 1em 1em black;
  /* padding: 1%; */ }

@media screen and (min-width: 1200px) {
  .fotoPortada {
    width: 60%;
    background-color: burlywood; } }

.flex-container {
  background-image: url(https://i.pinimg.com/564x/a9/90/35/a990353567bdded82fdfe21e9bfa9980.jpg);
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 992px) {
    .flex-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; } }

.fotoUno {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  background-color: #28645a; }

form {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: brown;
  padding: auto;
  margin: auto;
  width: 100%;
  display: 1fr 1fr 1fr;
  grid-template-columns: auto; }

.footer {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
  font-weight: bold;
  font-size: 1em;
  color: #0a3b0e;
  text-align: center;
  bottom: 1%;
  width: 100%;
  height: 1.5em;
  padding: 0%;
  margin: 0; }
  @media (min-width: 992px) {
    .footer {
      font-size: 1.5em; } }
  @media (min-width: 1024px) {
    .footer {
      font-size: 2em; } }

h1 {
  font-family: "Indie Flower", cursive;
  font-style: italic;
  font-weight: bold;
  color: #97c2bb;
  text-align: center;
  letter-spacing: 0.8em;
  padding: 1%;
  /*  background-color: $verdeUno;
        background-repeat: no-repeat;
        background-size: 100%;*/
  background-color: #40884a;
  background-repeat: no-repeat;
  background-size: 100%; }

h2 {
  width: 100%;
  font-family: "Stardos Stencil", cursive;
  font-size: 1em;
  letter-spacing: 0em;
  font-style: italic;
  font-weight: bold;
  color: #e5eee8;
  text-align: center;
  padding: 1%;
  /*  background-color: $verdeUno;
        background-size: 100%;*/
  background-color: #40884a;
  background-size: 100%; }
  @media (min-width: 992px) {
    h2 {
      font-size: 2em; } }
  @media (max-width: 1024px) {
    h2 {
      font-size: 3em; } }

.hijo {
  width: 25%;
  height: 25%;
  border: 5px solid black;
  border-radius: 0.5em;
  box-shadow: 10px 10px 10px black;
  /* text-shadow: 5px 5px 4px rgb(10, 29, 15); */
  /* box-shadow: 0px 0px 35px rgb(28, 138, 189); resplandor */
  align-items: stretch;
  flex-flow: row column;
  background-color: #e5eee8;
  margin: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
  text-align: center;
  overflow: hidden; }

iframe {
  width: 90%;
  height: auto;
  margin: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  background-color: #70a770;
  border: 0.5em; }

.imagen {
  width: 300px;
  background: grey; }

img {
  width: 50%;
  /* height: 50%; */
  margin: 1em;
  display: block;
  /* padding: 1%;
    border: 3px solid black;
    border-radius: 20px; */ }

.inicio {
  width: 100%;
  display: flex;
  justify-content: space-around; }

.item:hover {
  transition: 0.8s;
  transform: scale(1.05);
  transition-delay: 0.1s; }

.item {
  font-family: "Indie Flower", cursive;
  font-size: 1em;
  white-space: pre-line; }

.jogg {
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  gap: 5%; }
  @media (min-width: 992px) {
    .jogg {
      gap: 10%; } }
  @media (max-width: 768px) {
    .jogg {
      display: flex;
      flex-direction: column; } }

.medText {
  font-family: "Indie Flower", cursive;
  font-size: 1.5em; }
  @media (min-width: 1024px) {
    .medText {
      font-size: 3em; } }
  @media (min-width: 992px) {
    .medText {
      font-size: 3em; } }

.multimedia {
  width: 100%;
  background-image: url(https://i.pinimg.com/564x/a9/90/35/a990353567bdded82fdfe21e9bfa9980.jpg);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  align-content: center;
  /*tamaño d la imagen*/ }

.libreria {
  animation-delay: 1s; }

/*ESTILOS DE LISTAS*/
.lista {
  align-items: center;
  border-radius: 2%;
  border-width: 100%;
  border-color: #40884a;
  align-items: center; }

.listaDesordenada {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.2em;
  list-style-type: disc; }
  @media (min-width: 992px) {
    .listaDesordenada {
      font-size: 1.5em;
      color: #0a3b0e; } }

.listaDes {
  list-style-type: none;
  text-align: center;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  color: #e5eee8; }
  @media (min-width: 992px) {
    .listaDes {
      font-size: 1.5em; } }

ol {
  list-style-type: lower-alpha; }

ul {
  color: #195a0c;
  list-style-type: none;
  align-items: center; }

/*fin listas*/
.nombre {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  color: #111164; }

.pag {
  color: #0a3b0e;
  text-align: center;
  font-size: 1em; }
  @media (min-width: 1024px) {
    .pag {
      font-size: 2em;
      color: #28645a; } }

.precio {
  background-color: #0a3b0e;
  color: #e5eee8; }

.resaltado {
  background: yellow; }

.saveThePlanet {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1e1e8b;
  background-color: aquamarine;
  text-align: center;
  font-size: 1.5em;
  word-spacing: 2em;
  letter-spacing: 1em; }

.section {
  background-color: #e5eee8; }

@media (min-width: 992px) {
  .sobreNos {
    font-size: x-small;
    color: #e5eee8;
    background-color: #28645a; } }

#sobreNosotros {
  font-family: 'Indie Flower', cursive;
  font-size: 1em;
  background-image: url(https://i.pinimg.com/564x/a9/90/35/a990353567bdded82fdfe21e9bfa9980.jpg);
  /* background-image: url(https://i.pinimg.com/564x/82/6f/bb/826fbb156f9b7299758e03b442703167.jpg) ; */
  background-position: center center;
  background-repeat: no-repeat; }
  @media (min-width: 992px) {
    #sobreNosotros {
      font-size: 0.5em;
      font-style: italic; } }

.sobreNos {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #97c2bb;
  letter-spacing: normal;
  font-size: 1.0rem; }

.titulo {
  color: darkblue; }

.titulo2 {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  color: #28645a;
  text-decoration: wavy;
  background: #88b688;
  padding: 1em; }
  @media (min-width: 1024px) {
    .titulo2 {
      font-size: 2em; } }

/* parrafo  */
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.2em;
  color: #97c2bb;
  padding: 1%;
  text-align: center;
  letter-spacing: 0.5em;
  background-color: #5f6d63; }

p1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6 em;
  color: #194738;
  padding: 1%;
  text-align: center;
  letter-spacing: normal;
  background-color: #bee7e7; }

p {
  font-style: italic;
  text-align: center;
  font-size: 200%; }
  @media (max-width: 992px) {
    p {
      font-size: 100%; } }

.p1 {
  color: #40884a; }

.pUs {
  color: #97c2bb;
  font-style: italic;
  text-align: center; }
  @media (min-width: 768px) {
    .pUs {
      font-size: 1em; } }
  @media (min-width: 992px) {
    .pUs {
      font-size: 3em; } }
  @media (min-width: 1024px) {
    .pUs {
      font-size: 4em; } }

.proceso {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em; }

.multi {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 0, 5fr;
  grid-template-rows: 80%; }

#remeraRoja {
  width: 100%;
  height: auto;
  justify-content: center;
  background-color: #00ff2a; }

#remeraRayada {
  width: 80%;
  height: auto;
  justify-content: end;
  background-color: #09ff00; }

#remeraAzul {
  width: 87%;
  justify-content: end;
  background-color: #09ff00; }

#remeraCeleste {
  align-self: stretch;
  width: 60%;
  height: 75%;
  align-content: flex-end;
  background-color: #09ff00; }

#remer {
  width: 80%;
  justify-content: end;
  background-color: #09ff00; }

.suscribete {
  font-family: "Indie Flower", cursive; }

/*probando nesting*/
@media screen and (min-width: 480px) {
  .containerGrid {
    width: 100%;
    /* display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;*/
    padding: 2rem;
    margin: 1rem;
    background-color: #f39a9a; } }

@media screen and (min-width: 480px) and (min-width: 768px) {
  .containerGrid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #86bdc7; }
  .box {
    margin-top: 2em;
    margin-bottom: 1em; } }

@media screen and (min-width: 480px) {
  .box {
    margin-top: 1em;
    margin-bottom: 1em; } }

@media screen and (min-width: 1024px) {
  .containerGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    background-color: #96897e; } }

@media screen and (min-width: 1200px) {
  .containerGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    background-color: #d689c6; } }
